<div class="container" style="margin-top: 30px;">
    <h4 class="blue-grey-text text-darken-4">System User Directory</h4>
    
    <table class="highlight bordered white card" style="border-radius: 8px;">
        <thead>
            <tr style="background-color: #37474f; color: white;">
                <th>Name</th>
                <th>Email</th>
                <th>Department</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each usersList}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.department}}</td>
                <td><span class="badge blue white-text" style="float:none;">{{this.type}}</span></td>
                <td>
                    <a href="/users/management/edit/{{this._id}}" class="orange-text"><i class="material-icons">edit</i></a>
                    <form action="/users/management/delete/{{this._id}}?_method=DELETE" method="POST" style="display:inline;">
                        <button type="submit" style="background:none; border:none; cursor:pointer;" class="red-text">
                            <i class="material-icons">delete</i>
                        </button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>