<div class="container" style="margin-top: 30px;">
    <div class="row">
        <div class="col s12">
            <h4 class="indigo-text text-darken-4">Department Faculty Appraisals</h4>
            <p>Reviewing appraisals for: <b>{{dept}} Department</b></p>
            <br>

            <table class="highlight centered bordered responsive-table white card" style="border-radius: 10px; overflow: hidden;">
                <thead>
                    <tr style="background-color: #1a237e; color: white;">
                        <th>Faculty Name</th>
                        <th>Academic Year</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#if appraisals.length}}
                        {{#each appraisals}}
                        <tr>
                            <td><b style="color: #1a237e;">{{this.user.name}}</b></td>
                            <td>{{this.academic_year}}</td>
                            <td>
                                {{#if_eq this.status 'Submitted'}}
                                    <span class="badge orange white-text" style="float:none; border-radius:4px;">Pending Review</span>
                                {{else}}
                                    <span class="badge blue-grey lighten-4" style="float:none; border-radius:4px;">{{this.status}}</span>
                                {{/if_eq}}
                            </td>
                            <td>
                                <a href="/summary/review/{{this.user._id}}/{{this.academic_year}}" 
                                   class="btn waves-effect waves-light indigo darken-4 {{#if_eq this.status 'Draft'}}disabled{{/if_eq}}">
                                    <i class="material-icons left">visibility</i> REVIEW
                                </a>
                            </td>
                        </tr>
                        {{/each}}
                    {{else}}
                        <tr>
                            <td colspan="4" class="center-align grey-text">No faculty records found for this department.</td>
                        </tr>
                    {{/if}}
                </tbody>
            </table>
            
            <div style="margin-top: 20px;">
                <a href="/users/hod/hodOverview" class="btn-flat indigo-text"><i class="material-icons left">arrow_back</i> Back to Dashboard</a>
            </div>
        </div>
    </div>
</div>