<div class="row">
    <div class="col s12">
        <h4 class="blue-text text-darken-4">HOD Dashboard: {{department}} Department</h4>
        <p class="grey-text text-darken-2">Reviewing appraisals for {{department}} faculty members.</p>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <div class="card white" style="border-top: 5px solid #003366;">
            <div class="card-content">
                <span class="card-title" style="font-weight: bold; color: #003366;">Pending Appraisals</span>
                
                {{#if appraisals}}
                <table class="striped responsive-table">
                    <thead>
                        <tr>
                            <th>Faculty Name</th>
                            <th>Email</th>
                            <th>Academic Year</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each appraisals}}
                        <tr>
                            <td>{{user.name}}</td>
                            <td>{{user.email}}</td>
                            <td>{{academic_year}}</td>
                            <td><span class="badge orange white-text" style="border-radius: 4px;">{{status}}</span></td>
                            <td>
                                <a href="/users/faculty/viewAppraisal/{{_id}}" class="btn-small blue darken-3 tooltipped" data-tooltip="View Details">
                                    <i class="fa fa-eye"></i>
                                </a>

                                <a href="#modal-{{_id}}" class="btn-small green darken-2 modal-trigger tooltipped" data-tooltip="Verify & Approve">
                                    <i class="fa fa-check-square"></i>
                                </a>
                            </td>
                        </tr>

                        <div id="modal-{{_id}}" class="modal">
                            <form action="/users/hod/approve/{{_id}}" method="POST">
                                <div class="modal-content">
                                    <h4>Appraisal Review: {{user.name}}</h4>
                                    <p>Review the scores and evidence. Add remarks for the Principal/Admin.</p>
                                    <div class="input-field col s12">
                                        <textarea id="remarks-{{_id}}" name="remarks" class="materialize-textarea" required></textarea>
                                        <label for="remarks-{{_id}}">HOD Remarks/Verification Comments</label>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" name="action" value="approve" class="btn green darken-2">Approve to Admin</button>
                                    <button formaction="/users/hod/reject/{{_id}}" type="submit" class="btn red darken-2">Reject to Faculty</button>
                                    <a href="#!" class="modal-close waves-effect waves-red btn-flat">Cancel</a>
                                </div>
                            </form>
                        </div>
                        {{/each}}
                    </tbody>
                </table>
                {{else}}
                <div class="center-align" style="padding: 40px;">
                    <i class="fa fa-coffee fa-3x grey-text"></i>
                    <p class="grey-text">No pending appraisals found for your department at this time.</p>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems);
        
        var tooltips = document.querySelectorAll('.tooltipped');
        M.Tooltip.init(tooltips);
    });
</script>